@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');
/* font-family: 'Manrope', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: black;
    color: #fff;
}

ul {
    list-style: none;
    text-decoration: none;
}

.menu {
    display: flex;
    /* background:image; */
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}